flows/Barberia/Barberia.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20a0b009-eb9b-44fc-bda9-4dffd8085f04",
              "name": "sender",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "6076cf73-bc7d-41d6-b053-c09611925c31",
              "name": "conversation",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "35f48ada-3625-40fa-93a4-414fe67cf8c2",
              "name": "sessionId",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        760
      ],
      "id": "46e1b5bb-6c9b-40cb-a900-15e96d79be12",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution_api:8080/message/sendText/{{ $('Webhook1').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "TuClaveAPIEvolution123!"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.sender.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        336
      ],
      "id": "5ede2c78-8b41-4110-a534-847f23bce4c0",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Redis1').item.json.propertyName.join(\" \") }}",
        "options": {
          "systemMessage": "=Eres BARBERO_BOT, asistente especializado de la Barbería suavecito.\n\nFECHA Y HORA ACTUAL: {{ $now }}\nZONA HORARIA: America/Mexico_City (UTC-6)\n\nINFORMACIÓN DE LA BARBERÍA:\n- BARBEROS: Luis Enrique Arellanes, Diego Torillo\n- HORARIO: Lunes a Sábado de 9:00 a 18:00 (Domingo cerrado)\n- SERVICIOS DISPONIBLES:\n  * Corte (30 minutos) - $150\n  * Corte + Barba (45 minutos) - $250\n  * Solo Barba (20 minutos) - $100\n\nTu trabajo es ayudar a los clientes a agendar citas por redes sociales de manera eficiente.\n\n=== HERRAMIENTAS DISPONIBLES ===\n\nTienes acceso a estas 3 herramientas de Google Sheets:\n\n1. **\"verificar_disponibilidad_barberia\"** - Para leer todas las citas existentes\n2. **\"agendar_nueva_cita\"** - Para insertar nueva cita confirmada  \n3. **\"actualizar_estado_cita\"** - Para cancelar/completar citas\n\n=== FLUJO PRINCIPAL ===\n\n**IMPORTANTE - CONTROL DE CONVERSACIÓN:**\n- Usa la memoria del hilo de conversación para evitar preguntar información ya proporcionada\n\nCuando recibas un mensaje:\n\n1. **IDENTIFICA EL TIPO DE MENSAJE:**\n   - ¿Quiere agendar una cita nueva?\n   - ¿Quiere cancelar/reagendar?\n   - ¿Pregunta información general?\n   - ¿Confirma horario alternativo?\n   - ¿Solo saluda? (responder UNA VEZ por sesión de saludo)\n\n2. **PARA AGENDAR CITA NUEVA (PROCESO OBLIGATORIO):**\n   \n   **PASO 1:** Extrae y VALIDA todos los datos del mensaje:\n   - Barbero preferido (Luis/Diego, default: Luis Enrique Arellanes)\n   - Fecha (hoy, mañana, día específico) (OBLIGATORIO)\n   - Hora (formato 24hrs) (OBLIGATORIO)\n   - Nombre del cliente (OBLIGATORIO)\n   - Servicio deseado (OBLIGATORIO)\n\n   **PASO 2:** USA \"verificar_disponibilidad_barberia\"\n   - Lee todas las citas para verificar conflictos\n   - Filtra por mismo barbero + misma fecha + Estado=\"Activa\"\n   - Calcula si el horario solicitado está libre\n\n   **PASO 3:** VALIDA DISPONIBILIDAD\n   - Si hay conflicto: sugiere 3 horarios alternativos\n   - Si está libre: procede al Paso 4\n\n   **PASO 4:** USA \"agendar_nueva_cita\" con estos datos:\n   - fecha: \"DD/MM/YYYY\"\n   - hora: \"HH:MM\" \n   - barbero: \"Luis Enrique Arellanes\" o \"Diego Torillo\"\n   - cliente: nombre extraido\n   - servicio: \"Corte\", \"Corte + Barba\", o \"Barba\"\n   - timestamp: fecha+hora en milliseconds\n   - duracion: 30 (Corte), 45 (Corte+Barba), 20 (Barba)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1672,
        664
      ],
      "id": "a32b6567-69cb-4287-9ec3-432cce759139",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1488,
        888
      ],
      "id": "47b070c2-56c1-40fb-a152-e01b976f5903",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "X4UDNzCzMtE1TKqv",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5bc80ec5-b2db-40fe-92b3-67697c82d03a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        112
      ],
      "id": "a9ab51a0-67cf-4f18-828b-c8f4a76614b0",
      "name": "Webhook1",
      "webhookId": "5bc80ec5-b2db-40fe-92b3-67697c82d03a",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "HERRAMIENTA: Agendar Nueva Cita Confirmada\n\n  FUNCIÓN: Inserta una nueva cita en Google Sheets después de\n  verificar disponibilidad.\n\n  CUÁNDO USAR: SOLO después de confirmar que el horario está\n  libre con la herramienta \"Verificar Disponibilidad\".\n\n  DATOS REQUERIDOS para insertar:\n  - fecha (DD/MM/YYYY)\n  - hora (HH:MM formato 24hrs)\n  - barbero (\"Luis Enrique Arellanes\" o \"Diego Torillo\")\n  - cliente (nombre completo)\n  - telefono (número WhatsApp)\n  - servicio (\"Corte\", \"Corte + Barba\", o \"Barba\")\n  - timestamp (fecha+hora en milliseconds para ordenamiento)\n  - duracion (30 para Corte, 45 para Corte+Barba, 20 para Barba)\n\n  IMPORTANTE: Siempre calcular timestamp correctamente para\n  mantener orden cronológico.\n\n  EJEMPLO: Para cita \"09/01/2025 14:30\", timestamp =\n  1736445000000",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y",
          "mode": "list",
          "cachedResultName": "Barberia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Citas_Agendadas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', ``, 'string') }}",
            "Barbero": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Barbero', ``, 'string') }}",
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}",
            "Teléfono": "={{ $('Edit Fields').item.json.sender }}",
            "Servicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio', ``, 'string') }}",
            "Estado": "Activa",
            "Notas": "Agendada por whatsApp",
            "Timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', ``, 'string') }}",
            "Duración": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Duraci_n', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Barbero",
              "displayName": "Barbero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duración",
              "displayName": "Duración",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1744,
        888
      ],
      "id": "a877056b-91d8-44fc-bf09-576bae20fa4f",
      "name": "agendar_nueva_cita",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sZJkL7oy9zcIS4FK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "HERRAMIENTA: Verificar Disponibilidad de Citas\n\n  FUNCIÓN: Lee todas las citas existentes en la barbería para\n  verificar disponibilidad de horarios.\n\n  CUÁNDO USAR: Antes de agendar cualquier cita nueva, úsala\n  para:\n  - Verificar si un horario específico está libre\n  - Buscar horarios disponibles en una fecha\n  - Validar conflictos con citas existentes\n\n  DATOS QUE RETORNA:\n  Columnas: Fecha | Hora | Barbero | Cliente | Teléfono |\n  Servicio | Estado | Notas | Timestamp | Duración\n\n  IMPORTANTE: Solo considera citas con Estado=\"Activa\" para\n  validar disponibilidad.\n\n  EJEMPLO: Si cliente quiere cita \"mañana 2pm con Luis\", usa\n  esta herramienta para verificar si ese horario está libre.",
        "documentId": {
          "__rl": true,
          "value": "1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y",
          "mode": "list",
          "cachedResultName": "Barberia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Citas_Agendadas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1872,
        888
      ],
      "id": "8a0bfcc8-3971-4d23-ab7c-a0eb0aa1b42d",
      "name": "verificar_disponibilidad_barberia",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sZJkL7oy9zcIS4FK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "HERRAMIENTA: Actualizar Estado de Cita\n\n  FUNCIÓN: Cambia el estado de una cita existente (cancelar,\n  completar, reagendar).\n\n  CUÁNDO USAR:\n  - Cliente cancela cita\n  - Cliente completa cita\n  - Barbero marca cita como completada\n  - Reagendar (cambiar a \"Cancelada\" la antigua)\n\n  DATOS REQUERIDOS:\n  - row_number: número de fila a actualizar (encontrar con \n  \"Verificar Disponibilidad\")\n  - nuevo_estado: \"Cancelada\", \"Completada\", \"Reagendada\"\n  - notas: motivo del cambio (ej: \"Cancelada por cliente\",\n  \"Servicio completado\")\n\n  PROCESO:\n  1. Primero usar \"Verificar Disponibilidad\" para encontrar la\n  cita\n  2. Identificar row_number de la cita a actualizar\n  3. Actualizar solo Estado y Notas, mantener resto de datos\n\n  ESTADOS VÁLIDOS: \"Activa\", \"Cancelada\", \"Completada\", \n  \"Reagendada\"",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y",
          "mode": "list",
          "cachedResultName": "Barberia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Citas_Agendadas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y8ctyXaM0E0qibXl4z0693UFZQwi54xDsmO97PVx7-Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('row_number__using_to_match_', ``, 'number') }}",
            "Estado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado', ``, 'string') }}",
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Barbero",
              "displayName": "Barbero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duración",
              "displayName": "Duración",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2000,
        888
      ],
      "id": "8ba1fa33-ab88-456a-9f48-459130bd9512",
      "name": "actualizar_estado_cita",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sZJkL7oy9zcIS4FK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        760
      ],
      "id": "a242c7d8-c020-40d2-90b4-59f4a5bb7a9c",
      "name": "Telegram Trigger",
      "webhookId": "283c4db9-3815-432c-a162-1d6f0909e82d",
      "credentials": {
        "telegramApi": {
          "id": "9t8epX5nziFJ93dh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        664
      ],
      "id": "b08156ed-28d7-4895-be64-702d6704219b",
      "name": "Send a text message",
      "webhookId": "fae227d9-91cb-4d40-832e-2c2bbb1e5a46",
      "credentials": {
        "telegramApi": {
          "id": "9t8epX5nziFJ93dh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.sender }}",
        "messageData": "={{ $json.conversation }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        368,
        760
      ],
      "id": "99a73d5e-1de0-474c-b1c3-9abe150b4e5e",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "HH6xe8bsloDby31m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        760
      ],
      "id": "0e74c4d4-ee8a-4dfa-b296-ea78d6b65a45",
      "name": "Wait",
      "webhookId": "ff194028-6953-4cea-9cda-4c009d3a687c"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Redis').item.json.sender }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        816,
        760
      ],
      "id": "cc80f240-d40d-4d78-845f-2b575849495c",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "HH6xe8bsloDby31m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d3b75ea-f4d4-4b04-a981-5b6d7ed3c795",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $('Redis').item.json.conversation }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        760
      ],
      "id": "ff9e4ca9-d343-4493-b39a-c160426a3eb3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        856
      ],
      "id": "a6b14eeb-5e19-4553-b46a-ca569c91e9b5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Redis').item.json.sender }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1264,
        664
      ],
      "id": "e61e2dae-5b2e-4290-a124-1a4cb761f1a3",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "HH6xe8bsloDby31m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Redis').item.json.sender }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1616,
        888
      ],
      "id": "9494e316-8aec-41dc-ad2b-b52bc3df55de",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "RT6uUkIS6irS5VZo",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendar_nueva_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "verificar_disponibilidad_barberia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "actualizar_estado_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7690d85f-0e11-4c91-afd9-f0eb1b0e3385",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1ced58e1fd8c7afefe8506d67fc257f88f98993670ec4135680d93bf1535008"
  },
  "id": "GfXCndwTdKKSWDw6",
  "tags": []
}